html, body {
    width: 1080px;
    height: 1080px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    background-image: url('latest_5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
}





