<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>3</title>
</head>
<body>
    <div class="col-container" style="display: flex;">

        <div class="col">
            <div class="top-gainer">
                <div class="top-loser"><img src="Top Gainer.png"></div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div>

            </div>
        </div>

        <div class="col">
            <div class="top-gainer">
                <div class="top-loser"><img src="Top Loser.png"></div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div><br>

                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="Bitcoin.svg.png", alt="BTC"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 200;">MOCA</div>
                                <div style="font-size: 20px;">$4.00</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#232</div>
                                <div>$310.97 M</div>
                                <div style="color: green; font-weight: bold;">47.1%</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 75px; font-size: 25px;">
                        <div>34.5</div>
                        <div>54.5</div>
                        <div>74.5</div>
                    </div>


                </div>

            </div>
        </div>
        
    </div>

</body>
</html>