<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>3</title>
</head>
<body>
    <div class="col-container" style="display: flex;">

        <div class="col">
            <div class="top-gainer">
                <div class="top-loser" style="padding-left: 20px;"><img src="{{ url_for('static', filename='Top Loser.png') }}"></div><br>
                {% for coin in coin1 %}
                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="{{ coin.logo }}"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 500;">{{ coin.symbol }}</div>
                                <div style="font-size: 20px;">$ {{ coin.price }}</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#{{ coin.cmc_rank }}</div>
                                <div>${{ coin.market_cap }} B</div>
                                <div style="color: {% if coin.percent_change24h >= 0 %}#00ff5f{% else %}#ff355b{% endif %}; font-weight: bold;">{{ coin.percent_change24h }} %</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px; padding-left: 30px">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 55px; font-size: 25px; padding-left:20px;">
                        <div style="color: {% if coin.Durability_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Durability_Score }}</div>
                        <div style="color: {% if coin.Momentum_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Momentum_Score }}</div>
                        <div style="color: {% if coin.Valuation_Score    >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Valuation_Score }}</div>
                    </div>


                </div><br>
                {% endfor %}
            </div>
        </div>

        <div class="col">
            <div class="top-gainer">
                <div class="top-loser" style="padding-left: 20px;"><img src="{{ url_for('static', filename='Top Gainer.png') }}""></div><br>
                {% for coin in coin2 %}
                <div class="coin-card">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
                        <div class="logo"><img src="{{ coin.logo }}"></div>
                        <div>
                            <div style="display: flex; gap: 75px;">
                                <div style="font-size: 25px; font-weight: 500;">{{ coin.symbol }}</div>
                                <div style="font-size: 20px;">$ {{ coin.price }}</div>
                            </div>
                            <div style="display: flex; gap: 25px;">
                                <div>#{{ coin.cmc_rank }}</div>
                                <div>${{ coin.market_cap }} B</div>
                                <div style="color: {% if coin.percent_change24h >= 0 %}#00ff5f{% else %}#ff355b{% endif %}; font-weight: bold;">{{ coin.percent_change24h }} %</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; gap: 20px; font-size: 14px; padding-left: 30px;">
                        <div>Durability</div>
                        <div>|</div>
                        <div>Momentum</div>
                        <div>|</div>
                        <div>Valuation</div>
                    </div>
                    <div style="display: flex; gap: 55px; font-size: 25px; padding-left:20px;">
                        <div style="color: {% if coin.Durability_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Durability_Score }}</div>
                        <div style="color: {% if coin.Momentum_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Momentum_Score }}</div>
                        <div style="color: {% if coin.Valuation_Score    >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Valuation_Score }}</div>
                    </div>


                </div><br>
                {% endfor %}
            </div>
        </div>
        
    </div>

</body>
</html>