<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
    <title>5</title>
</head>
<body>
    <div style="position: absolute; top: 275px;">
        <div class="row1" style="display: flex; gap: 190px; padding-bottom: 35px">
            <div style="padding-left: 500px;">
                <div style="display: flex; gap: 190px; padding-left: 170px;">
                    <h3>56.51</h3>
                    <h3 style="padding-right: 50px;">-0.17%</h3>
                </div>
                <div style="display: flex; gap: 190px; padding-left: 170px;">
                    <h3>56.51</h3>
                    <h3 style="padding-right: 50px;">-0.17%</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div style="position: absolute; top: 495px">
        <div class="row2" style="margin: 10px; padding-top:10px">
            <div style="display: flex; gap: 115px; font-size:20px; font-weight:bolder; padding-left: 85px ">
                <span>$ 1.50 T 0.58%</span>
                <span>$ 1.50 T 0.58%</span>
                <span>$ 1.50 T 0.58%</span>
                <span>$ 1.50 T 0.58%</span>
            </div>
        </div>
    </div>

    <div class="row3" style="position: absolute; top: 690px; left: 650px;">
        <div style="display: flex; gap:0px;"> 
                <div style="display: flex; gap: 30px; font-size: 26px; font-weight:bolder; padding-right: 100px">
                    <p>$ 3.34 T</p> <p style="padding-right: 10px;">-4.23%</p>
                    <p>$ 1.32 T</p> <p>11.79%</p>
                </div>
        </div>
    </div>

    <div style="position: absolute; top: 880px; right: 995px;">
        <div class="row4">
            <div style="display: flex; gap:135px; padding-left: 15px">
                <p style="font-size: 36px;">$1.42 T</p>
                <p style="padding-left: 20px; font-size: 36px">$106.74 B</p>
            </div>
        </div>
    </div>

    <div style="position: absolute; top: 635px; right: 620px;">
        <p style="font-size: 32px;">13th Jan, 2025</p>
    </div>

    <div style="position: absolute; top: 730px; right: 600px;">
        <p style="font-size: 30px;">02:07:45 Monday</p>
    </div>
    
</body>
</html>

