<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header" style="padding: 25px 50px;">LAST UPDATE:</div>
    <div class="top-bar">
        <div class="header-card">
            <div class="coin-stat">
                <div style="display: flex; gap: 240px; font-size: 26px;">
                    <h4>BTC</h4>
                    <h4>$90000</h4>
                </div>
                <div style="display: flex; gap: 200px; font-size: 20px;">
                    <h4>Market Cap</h4>
                    <h4>$1.92 T</h4>
                </div>
                <div style="display: flex; gap: 185px; font-size: 20px;">
                    <h4>Volume 24H</h4>
                    <h4>$97.25 B</h4>
                </div>
                <div style="display: flex; gap: 80px; font-size: 20px;">
                    <h4>1D</h4>
                    <h4>7D</h4>
                    <h4>30D</h4>
                    <h4>YTD</h4>
                </div>
                <div style="display: flex; gap: 65px; font-size: 15px;">
                    <h4 style="color: #ff0000;">-3.48%</h4>
                    <h4 style="color: #00ff2f;">12.24%</h4>
                    <h4 style="color: #ff0000;">-3%</h4>
                    <h4 style="color: #00ff2f;">120.07%</h4>
                </div>
                
            </div>
            <div class="coin-stat">
                <div style="display: flex; gap: 50px; justify-content: space-evenly; font-size: 26px;">
                    <div style="color: #ff0000;">Bearish</div>
                    <div>|</div>
                    <div style="color: #ffb338;">Neutral</div>
                    <div>|</div>
                    <div style="color: #00ff2f;">Bullish</div>
                </div>
                <div style="display: flex; gap: 150px; justify-content: space-between; font-size: 45px; font-weight: bolder;">
                    <div style="color: #ff0000;">4</div>
                    <div style="color: #ffb338;">4</div>
                    <div style="color: #00ff2f;">12</div>
                </div>
                <div>
                    <div style="padding-left: 375px; font-size: 25px; font-weight: bold;">Trend</div>
                    <div style="padding-left: 355px; font-size: 30px; color: #00ff2f; font-weight: bolder;">Bullish</div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-container">
        <div class="col">
            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[0]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[0]['symbol']}}</div>
                    <div class="pct-change">{{ coins[0]['percent_change24h'] | round(2)}}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[0]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[0]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[1]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[1]['symbol']}}</div>
                    <div class="pct-change">{{ coins[1]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[1]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[1]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[2]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[2]['symbol']}}</div>
                    <div class="pct-change">{{ coins[2]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[2]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[2]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{coins[3]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[3]['symbol']}}</div>
                    <div class="pct-change">{{ coins[3]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[3]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[3]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[4]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[4]['symbol']}}</div>
                    <div class="pct-change">{{ coins[4]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[4]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[4]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[5]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[5]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[5]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[5]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[5]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[6]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[6]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[6]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[6]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[6]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[7]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[7]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[7]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[7]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[7]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[8]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[8]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[8]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[8]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[8]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[9]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[9]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[9]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[9]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[9]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>

        <div class="col">
       
            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[10]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[10]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[10]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[10]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[10]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[11]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[11]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[11]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[11]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[11]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[12]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[12]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[12]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[12]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[12]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[13]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[13]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[13]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[13]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[13]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[14]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[14]['symbol'] }}</div>
                    <div class="pct-change">{{ coins[14]['percent_change24h'] | round(2) }}</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[14]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[14]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

